.container {
  --sidebar-width: 200px;
  width: 100vw;
  /* height: 100vh; */
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  column-gap: 1rem;
  grid-auto-rows: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-sidebar);
  --logo-container-height: 80px;
}

.logo-container {
  height: var(--logo-container-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-container > a {
  margin-left: 1.5rem;
  /* color: rgb(224, 224, 224); */
  color: #f56565;
  font-size: 32px;
  font-weight: 600;
  font-family: "Montagu Slab", serif;
  cursor: pointer;
}

.sidebar-option-container {
  height: calc(100% - var(--logo-container-height));
}

.sidebar-option-container {
  display: flex;
  flex-direction: column;
}

.sidebar-option {
  height: 3rem;
  color: #a4a6b3;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  cursor: pointer;
}

.sidebar-option > svg {
  margin-right: 1rem;
}

.active {
  color: white;
  background: #51535c !important;
  /* border: 1px solid white; */
}

.top-bar {
  position: fixed;
  top: 0px;
  left: var(--sidebar-width);
  width: calc(100vw - var(--sidebar-width));
  height: 80px;
  background-color: var(--bg-color-sidebar);
  display: flex;
  align-items: center;
}

.logo-sm {
  margin-left: 1.5rem;
  color: #f56565;
  font-size: 28px;
  font-weight: 600;
  font-family: "Montagu Slab", serif;
  cursor: pointer;
  display: none;
}

.bottom-bar-container-sm {
  display: none;
}

.main-content {
  padding: 100px 1rem 0px 0px;
}

.top-bar-space {
  flex-grow: 1;
}

.navbar-btn {
  margin-right: 1rem;
  font-size: 1.2rem;
  color: #c6c8da;
  cursor: pointer;
}

.navbar-btn:hover {
  text-decoration: underline;
  color: white;
}

@media screen and (max-width: 767px) {
  .sidebar {
    display: none;
  }
  .container {
    grid-template-columns: 1fr;
  }

  .container::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

  .top-bar {
    left: 0px;
    width: 100vw;
    height: 70px;
  }

  .logo-sm {
    display: block;
  }

  .main-content {
    padding: 90px 0.6rem 0px 0.6rem;
  }

  .navbar-btn {
    font-size: 1rem;
  }

  .bottom-bar-container-sm {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100vw;
    background-color: var(--bg-color-sidebar);
    z-index: 5;
  }

  .bottom-bar-sm {
    width: 100%;
    height: 100%;
    padding: 0rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bottom-bar-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #a4a6b3;
  }

  .bottom-bar-item > span {
    font-size: 0.8rem;
  }

  .bottom-sidebar-active {
    color: white;
  }
}
