.loader-container {
  display: flex;
  justify-content: center;
  z-index: 5;
  font-size: 1.2rem;
  color: white;
}

.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: minmax(220px, auto);
  gap: 1rem;
}

.video-card {
  background-color: #242424;
  color: white;
}

.video-card > img {
  width: 100%;
  height: 65%;
  cursor: pointer;
  /* object-fit: cover; */
}

.video-description {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.video-description > h1 {
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}

.video-description > h3 {
  font-size: 0.7rem;
  color: #b6b8c7;
}

.video-description > h3:hover {
  color: white;
}
