.search-section {
  position: sticky;
  top: 100px;
  display: flex;
  justify-content: center;
  background-color: black;
  padding-bottom: 2rem;
}

.search-wrapper {
  width: 60%;
}

@media screen and (max-width: 1200px) {
  .search-wrapper {
    width: 70%;
  }
}

@media screen and (max-width: 1024px) {
  .search-wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .search-wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .search-section {
    top: 90px;
  }
}
