:root {
  --bg-color-sidebar: #363740;
  --bg-color-video-card: #242424;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

a {
  text-decoration: none;
}

.h1-style {
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
}
